.nav-tab {
  display: flex; }

.nav-tab > li, li > ul {
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

li > ul > li {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid silver;
  color: white;
  padding: 10px 30px;
  border: 1px solid silver;
  font-family: "Georgia", "Roboto", cursive;
  font-size: 16px;
  text-transform: capitalize; }

li > ul {
  padding: 0px !important; }

.menu-head {
  background: orange;
  color: white;
  padding: 10px 30px;
  border: 1px solid maroon;
  font-family: "Georgia", "Roboto", cursive;
  font-size: 16px;
  text-transform: capitalize; }
  .menu-head:hover {
    background: olive; }

.dropdown {
  display: none; }

.menu-head:hover ~ .dropdown {
  display: block; }

@-webkit-keyframes menubar {
  0% {
    -webkit-transform: rotateX(90deg) skewx(45deg) perspective(20px);
    transform: rotateX(90deg) skewx(45deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  50% {
    -webkit-transform: rotateX(45deg) skewx(45deg) perspective(20px);
    transform: rotateX(45deg) skewx(23deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  100% {
    -webkit-transform: rotateX(0deg) skewx(45deg) perspective(20px);
    transform: rotateX(0deg) skewx(0deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; } }
@-moz-keyframes menubar {
  0% {
    -webkit-transform: rotateX(90deg) skewx(45deg) perspective(20px);
    transform: rotateX(90deg) skewx(45deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  50% {
    -webkit-transform: rotateX(45deg) skewx(45deg) perspective(20px);
    transform: rotateX(45deg) skewx(23deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  100% {
    -webkit-transform: rotateX(0deg) skewx(45deg) perspective(20px);
    transform: rotateX(0deg) skewx(0deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; } }
@-o-keyframes menubar {
  0% {
    -webkit-transform: rotateX(90deg) skewx(45deg) perspective(20px);
    transform: rotateX(90deg) skewx(45deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  50% {
    -webkit-transform: rotateX(45deg) skewx(45deg) perspective(20px);
    transform: rotateX(45deg) skewx(23deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  100% {
    -webkit-transform: rotateX(0deg) skewx(45deg) perspective(20px);
    transform: rotateX(0deg) skewx(0deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; } }
@keyframes menubar {
  0% {
    -webkit-transform: rotateX(90deg) skewx(45deg) perspective(20px);
    transform: rotateX(90deg) skewx(45deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  50% {
    -webkit-transform: rotateX(45deg) skewx(45deg) perspective(20px);
    transform: rotateX(45deg) skewx(23deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  100% {
    -webkit-transform: rotateX(0deg) skewx(45deg) perspective(20px);
    transform: rotateX(0deg) skewx(0deg) perspective(20px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; } }
.menu-head:hover ~ .dropdown > li {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: menubar 0.5s linear 0s alternate;
  animation: menubar 0.5s linear 0s alternate; }

.dropdown > li, .dropdown:hover {
  display: block; }
  .dropdown > li:hover, .dropdown:hover:hover {
    display: block;
    color: black;
    background-color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=master.css.map */
